<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chamah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>508DB9E81DED8B2000D4AE4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508DBA011DED8B2000D4AE4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508DBA0C1DED8B2000D4AE4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
